.inbody__wrapper {
  //   min-height: 100vh;
  .inbody__chart__wrapper {
    display: grid;
    grid-template-columns: 1fr 13fr;
    .utility-bar__menu {
      border-right: 1px solid #ddd;
      min-width: 54px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .utility-bar__menu-item {
        margin-top: 1.5rem;
        font-size: 9pt;
        position: relative;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
          transition: opacity 0.3s;
        }
        .icon-hover {
          position: absolute;
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        &:hover .icon {
          opacity: 0;
        }
        &:hover .icon-hover {
          opacity: 1;
        }
      }
    }
    .inbody__chart {
      height: 70vh;
    }
  }
  .add_chart_value {
    text-align: center;
    height: 20px;
    input {
      width: 10%;
      margin-top: 40px;
      margin-right: 5px;
      border: 1px solid black;
    }
    input,
    button {
      height: 35px;
      border-radius: 0.22rem;
    }
  }
}
